@page "/servico/form"
<PageTitle>Serviços</PageTitle>

<div>
    <h3 class="mb-5">Consultar Serviços</h3>
    <form>
        <div class="form-group">
            <label for="inputEmpresa">Empresa</label>
            <select class="form-select" id="inputEmpresa" aria-label="">
                <option value="1" selected>Soluções Vistorias</option>
            </select>
        </div>
        <div class="form-group mt-3">
            <label for="inputNome">Nome *</label>
            <input type="text" class="form-control" id="inputNome" required placeholder="Ex: Vistoria Veicular Completa">
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="form-group">
                    <label for="inputValor">Valor Sugerido *</label>
                    <input type="number" class="form-control" id="inputValor" required placeholder="Ex: 100,00">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="inputValor">Tempo</label>
                    <input type="time" class="form-control" id="inputValor" placeholder="Ex: 01:30">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="inputValor">Garantia</label>
                    <input type="text" class="form-control" id="inputValor" placeholder="Ex: 30 dias">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="inputValor">Garantia</label>
                    <select class="form-select" id="inputTipo" aria-label="">
                        <option value="1" selected>Transferencia</option>
                        <option value="2">Cautelar</option>
                        <option value="3">Emplacamento</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="btn btn-success mt-3">Salvar</button>
        <button class="btn btn-warning mt-3">
            <NavLink class="nav-link" href="/servico">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Voltar
            </NavLink>
            </button>
    </form>
</div>
